<div style="height: 90vh">
  <div class="col-lg-4 animated fadeIn h-center v-center">
    <div class="card">
      <div class="card-block">
        <h4 class="card-title">Login to Blink</h4>
        <strong>E-mail</strong>
        <input [(ngModel)]="username" type="email" class="form-control"/>

        <strong>Password</strong>
        <input [(ngModel)]="password" type="password" class="form-control"/>
        <br/>
        <button type="button" class="btn btn-secondary pull-right" (click)="login()" >Login</button>
      </div>
    </div>
  </div> 
</div>



<button nz-button [nzType]="'primary'" (click)="showModal()">
  <span>Open</span>
</button>
<nz-modal [nzVisible]="isVisible" [nzTitle]="'Ela kiri'" [nzContent]="modalContent" (nzOnCancel)="handleCancel($event)" (nzOnOk)="handleOk($event)">
  <ng-template #modalContent>
    <p>What is this puthA?</p>
  </ng-template>
</nz-modal>